
.order-detail{
    margin-bottom: 50px;
    color: #222;
    margin-left: auto;
    margin-right: auto;
    height: auto;
    width: 100%;
    border: 1px solid #e1e1e1;
    padding: 10px;
    border-radius: 5px;
}
.box_order{
    margin-bottom: 10px;
    margin-left: auto;
    margin-right: auto;
    align-content: center;
    justify-content: space-around;
    flex-wrap: wrap!important;
    display: flex!important;
}
.img_order{
    -webkit-box-pack: center;
    width: 390px;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    margin-bottom: 20px;
    position: relative;
}
.title_order{
    height: auto;
    display: block;
    line-height: 25px;
}
.title_thanks{
    width: 100%;
    margin-bottom: 5px;
    font-size: 18px;
    font-weight: 500;
    text-transform: uppercase;
    color: #1d94ff;
}
.cpn_code{
    width: 180px;
    line-height: 45px;
    text-align: center;
    background: #1d94ff;
    font-size: 18px;
    font-weight: 500;
    color: #fff;
}
.box_order img{
    max-width: 187px;
    aspect-ratio: 1 / 1;
    justify-content: center;
    align-items: center;
    -webkit-box-pack: center;
    margin-left: auto;
    display: flex;
    margin-right: auto;
}
table {
    width: 100%;
    margin-bottom: 10px;
    background: #f2f2f2;
    padding: 10px!important;
    line-height: 25px;
    border-collapse: inherit;
}
tr{
    padding: 5px!important;
}
th{
    width: 150px;
    padding: 5px!important;
    display: block;
}
td{
    padding: 5px!important;
}
.item_order{
    width: 100%;
    padding: 15px;
    border: 1px solid #e1e1e1;
    margin-bottom: 26px;
}
.item_title{
    width: 100%;
    float: left;
    font-size: 18px;
    font-weight: 700;
}
.item_products{
    width: 100%;
}
.total_price{
    width: 100%;
    padding-top: 10px;
    display: flex;
    -webkit-box-pack: justify;
    justify-content: space-between;
    font-size: 14px;
}
.box_item_product{
    padding: 10px 0;
    width: 100%;
    display: flex;
    -webkit-box-align: start;
    align-items: flex-start;
}
.img_product img{
    width: 105px;
    aspect-ratio: 1 / 1;
}
.name_product{
    width: calc(100% - 260px);
    padding-right: 10px;
    font-size: 14px;
    line-height: 1.5;
}
.subtotal{
    width: 155px;
    display: flex;
    justify-content: flex-end;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-box-pack: end;
    flex-direction: column;
}
.price_p{
    font-size: 16px;
    font-weight: 700;
    color: #1d94ff;
    text-align: right;
}
.quantity_p{
    font-size: 14px;
    text-align: right;
}
.total_price{
    width: 100%;
    padding-top: 10px;
    justify-content: space-between;
    font-size: 14px;
    display: flex;
    -webkit-box-pack: justify;
    border-top: solid 1px #e1e1e1;
}
.title_total{
    text-transform: uppercase;
    color: #222;
    font-weight: 700;
}
.total{
    color: #1d94ff;
    font-size: 16px;
    font-weight: 700;
}
.vat_order{
    width: 100%;
    text-align: right;
}
.another_by{
    width: 100%;
    display: flex;
    -webkit-box-pack: center;
    justify-content: center;
}
.another_by a{
    width: 350px;
    float: left;
    line-height: 48px;
    border-radius: 5px;
    background: linear-gradient(300.63deg,#74cdff 0%,#1D94FF 99.26%);
    font-size: 16px;
    font-weight: 700;
    color: #fff;
    text-align: center;
    text-transform: uppercase;
}
.img_shopping_cart_success:after{
    content: '\f00c';
    font-family: 'Font Awesome 5 Pro';
    font-weight: 400;
    width: 36px;
    height: 36px;
    background: #21b53e;
    text-align: center;
    line-height: 36px;
    border-radius: 50%;
    -webkit-box-shadow: 0 0 3px 0 #999;
    box-shadow: 0 0 3px 0 #999;
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-18px,-18px);
    transform: translate(-18px,-18px);
    z-index: 1;
    color: #fff;
    font-size: 18px;
}
.img_shopping_cart_error:after{
    content: '\f00d';
    font-family: 'Font Awesome 5 Pro';
    font-weight: 400;
    width: 36px;
    height: 36px;
    background: #d92128;
    text-align: center;
    line-height: 36px;
    border-radius: 50%;
    -webkit-box-shadow: 0 0 3px 0 #999;
    box-shadow: 0 0 3px 0 #999;
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-18px,-18px);
    transform: translate(-18px,-18px);
    z-index: 1;
    color: #fff;
    font-size: 18px;
}
.title_error{
    width: 100%;
    font-size: 18px;
    font-weight: 500;
    color: #d92128;
    margin-bottom: 10px
}
b{
    color: #1d94ff;
}
.list_q a{
    width: 100%;
    float: left;
    line-height: 1.5;
    font-size: 14px;
    color: #1d94ff!important;
}
