/*trang chi tiet san pham*/
.block-detail-product{
    margin: 0!important;
}
.box-detail-product{
    overflow: hidden;
    padding: 0;
    display: block;
}
.box-gallery{
    position: relative;
    width: calc(50% - 20px);
}
.box-info-cnt{
    margin-left: 20px;
    width: 50%;
}
.box-detail-product-ctn{
    padding-top: 0;
    display: flex;
    flex-wrap: wrap;
}

@media only screen and (max-width: 600px){
    .box-gallery, .box-info-cnt{
        width: 100%;
    }
    .box-info-cnt{
        margin: 0;
    }
}

.gallery-product-detail{
    margin-top: 0.5rem!important;
    margin-bottom: 0.5rem!important;
}
.gallery-slide{
    width: 100%;
    max-height: 550px;
    margin: 0 0 10px;
    display: flex;
    align-items: center;
    border-radius: 15px;
    border: 1px solid #d1d5db;
}
.swiper-wrapper{
    transform: translate3d(0px, 0px, 0px);
    transition-duration: 0ms;
    height: 100%;
    z-index: 1;
    display: flex;
    transition-property: transform;
    box-sizing: content-box;
    position: relative;
    width: 100%;
}
.ksp-gallery{
    background: linear-gradient(90deg,#5e9ddd,#a597f7);
    user-select: none;
    display: flex;
    height: 100%;
    position: relative;
    transition-property: transform;
    justify-content: center;
    list-style: none;
    align-items: center;
    border-radius: 15px;
    border: 0;
    text-align: center;
    overflow: hidden;
    flex-shrink: 0;
    width: calc(100% - 0px);
}
.box-ksp{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    overflow: hidden;
    padding: 10px;
    position: relative;
    font-size: 14px;
    line-height: 1.45;
    text-align: center;
    width: 100%;
    color: #fff;
    user-select: none;
    border-radius: 15px;
}
.box-ksp img{
    display: flex;
    padding: 10px;
    background: #fff;
    border-radius: 10px;
    max-width: 100%;
    text-align: left;
    width: auto;
    font-size: 14px;
    margin-left: auto;
    margin-right: auto;
    line-height: 1.45;
    color: #fff;
    margin-bottom: 0.25rem!important;
}
.title_dtp{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    text-align: center;
}
.title_dtp .title{
    font-size: 16px;
    position: relative;
    text-align: left;
    top: 5px;
    font-weight: 600;
    text-transform: uppercase;
    color: #fff;
    margin: 0 0 0 5px;
    bottom: 5px;
    line-height: 1.125;
}
title_dtp ul{
    position: relative;
    top: 10px;
    overflow-y: auto;
    text-align: left;
    max-height: 180px;
}
@media only screen and (max-width: 1199px){
    .cps-container {
        width: 100%!important;
        max-width: 1200px!important;
        padding: 0 !important;
    }
}
.thumbnail-slide{
    width: 100%;
    display: flex;
    overflow-x: auto;
}
.thumbnail-slide::-webkit-scrollbar{
    display: none;
}
.slide-wrapper{
    transition-timing-function: ease-out;
    /*margin: 0 auto;*/
    position: relative;
    /*width: 100%;*/
    min-height: 50px;
    z-index: 1;
    display: flex;
    transition-property: transform;
    box-sizing: content-box;
}
.img-wrp{
    display: flex;
    flex-flow: column;
    align-items: center;
    justify-content: center;
    margin-right: 10px;
    border: 1px solid #d1d5db;
    overflow: hidden;
    cursor: pointer;
    background: #fff;
    border-radius: 0.5rem;
    padding: 2px;
}
.box-header{
    display: block!important;
    height: auto;
    margin: 0;
    padding: 0;
}
.box-header .review{
    align-items: baseline;
}
.box-header .count-review{
    margin-left: 5px;
}
.box-header h1{
    font-size: 16px;
    line-height: 1.5;
    color: #0a263c;
    margin: 0 10px 0 0;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    overflow: hidden;
    font-weight: 700;
}
.box-rating{
    display: flex;
    align-items: center;
    margin: 10px 0 0;
    font-size: 12px;
    grid-gap: 3px;
    gap: 3px;
}
.block-box-price{
    margin-top: 0;
}
.box-info-price{
    display: flex;
    flex-wrap: wrap;
    align-items: flex-end;
}
.price_show{
    display: inline-block;
    margin-bottom: 10px!important;
    font-size: 18px;
    font-weight: 700;
    line-height: 1.1;
    color: #d70018;
}
.price_through{
    font-weight: 600;
    text-decoration: line-through;
    color: #707070;
    position: relative;
    top: 2px;
    display: inline-block;
    margin: 0 0 10px 5px;
    font-size: 12px;
}
.box-linked{
    margin-bottom: 5px;
}
.list-linked{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
}
.item-linked{
    display: flex;
    width: calc(33.33333% - 10px);
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 5px 5px 5px 5px;
    padding: 5px 4px;
    border: 1px solid #d1d5db;
    border-radius: 8px;
    background: #fff;
    font-size: 12px;
    text-decoration: none;
    color: #444;
    position: relative;
    overflow: hidden;
    cursor: pointer;
    grid-gap: 3px;
    gap: 3px;
}
.list-variants{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    padding: 0;
    margin: 0;
}
.item-variant{
    width: calc(33.333% - 10px);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 5px;
    padding: 5px 4px;
    border: 1px solid #d1d5db;
    border-radius: 8px;
    background: #fff;
    font-size: 12px;
    text-decoration: none;
    color: #444;
    position: relative;
    opacity: 1;
    pointer-events: none;
    overflow: hidden;
    cursor: pointer;
}
.box-product-variants{
    margin-bottom: 5px;
}
.item-variant a{
    cursor: not-allowed;
    pointer-events: none;
    align-items: center!important;
    display: flex!important;
}
.item-variant img{
    width: 30px;
    height: 30px;
    position: relative;
    right: 5px;
    max-width: 100%;
    pointer-events: none;
    cursor: not-allowed;
}
.is-flex-direction-column {
    flex-direction: column !important;
    color: #444;
    display: flex !important;
}
.box-title{
    font-weight: 700;
}
.box-product-promotion{
    border-radius: 10px;
    overflow: hidden;
    border: 1px solid #e2ecfe;
}
.box-product-promotion-header{
    grid-gap: 10px;
    gap: 10px;
    height: 42px;
    background-color: #50a7f2;
    color: #ffffff;
    display: flex!important;
    padding: 0.5rem!important;
}
.box-product-promotion-header .icon{
    width: 20px;
    fill: #ffffff;
    align-items: center;
    display: inline-flex;
    justify-content: center;
    height: 1.5rem;
    font-weight: 600!important;
}
.box-product-promotion-header .icon svg{
    height: 30px;
    fill: #ffffff;
    font-weight: 600!important;
    text-size-adjust: 100%;
    color: #ffffff;
}
.box-product-promotion-header p{
    font-weight: 600!important;
}
.box-product-promotion-content{
    min-height: fit-content;
    transition: min-height 1s ease;
    padding-bottom: 8px;
    padding-top: 0.5rem!important;
    padding-right: 0.5rem!important;
    padding-left: 0.5rem!important;
}
.box-product-promotion-number{
    width: 20px;
    height: 20px;
    text-align: center;
    font-size: 12px;
    background-color: #3991ff!important;
    border-radius: 50%;
    color: #ebfffc!important;
    font-weight: 600;
    margin: 0;
    padding: 0;
}
.box-promotion-ctag{
    width: 100%;
    display: flex!important;
    text-size-adjust: 100%;
    margin-top: 0.5rem!important;
    margin-bottom: 0.5rem!important;
}
.box-product-promotion-detail{
    font-size: 12px;
    margin-right: 0.25rem!important;
    margin-left: 0.25rem!important;
    width: calc(100% - 25px);
    color: #0a0a0a!important;
}
.hotSale{
    width: 100%;
    font-size: 12px;
    font-weight: 600;
    border-radius: 5px;
    margin-top: 5px;
}
.cps-additional-note{
    background-color: #41a7fe;
    padding: 5px 10px;
    margin: 10px auto;
    border-radius: 5px;
    font-size: 12px;
    color: #fff;
    font-weight: 700;
}
.box-order-button-container{
    margin-top: 1rem!important;
    margin-bottom: 1rem!important;
}
.box-between{
    justify-content: space-between!important;
    display: flex!important;
}
.order-button{
    width: calc(100% - 70px);
    height: 60px;
    background: linear-gradient(#f52f32,#e11b1e);
    color: #fff;
    border-radius: 10px;
    outline: none;
    border: none;
    margin-bottom: 10px;
    display: flex!important;
    flex-direction: column;
    align-items: center!important;
    padding-bottom: 10px;
    font-family: sans-serif!important;
    justify-content: center!important;
}
.order-button strong{
    font-size: 16px;
    color: #fff;
    font-weight: 700;
}
.order-button span{
    font-size: 12px;
    position: relative;
    top: 5px;
    display: block;
    color: #fff;
}
.button-add-to-cart{
    height: 60px;
    width: 60px;
    border: 2px solid #e04040;
    background-color: unset;
    border-radius: 10px;
    flex-direction: column;
    justify-content: center;
    padding: calc(0.5em - 1px) 1em;
    text-align: center;
    color: #363636;
    line-height: 1.5;
    white-space: nowrap;
    box-shadow: none;
    justify-items: center;
    position: relative;
    vertical-align: top;
    align-items: center;
    display: inline-flex;
    font-size: 1rem;
}
.button-add-to-cart img{
    width: 30px;
    height: 30px;
    object-fit: contain;
    max-width: 100%;
    text-align: center;
    white-space: nowrap;
    font-size: 1rem;
    line-height: 1.5;
}
.button-add-to-cart span{
    font-size: 7.5px;
    margin: 0;
    padding: 0;
    color: #e04040;
    font-weight: 600;
    text-align: center;
    white-space: nowrap;
    cursor: pointer;
    user-select: none;
    font-family: sans-serif!important;
    line-height: 1.5;
    font-style: inherit;
    display: inline-flex;
    text-size-adjust: 100%;
}
.installment-button{
    width: calc(50% - 5px);
    height: 60px;
    border-radius: 10px;
    border: none;
    outline: none;
    background: linear-gradient(180deg,#3991ff,#4597ff);
    padding-bottom: 5px;
    cursor: pointer;
}
.installment-button strong{
    font-size: 12px;
    line-height: 1.2;
    color: #fff!important;
}
.installment-button span{
    font-size: 12px;
    color: #fff!important;
}
.box-more-promotion{
    border-radius: 10px;
    overflow: hidden;
    border: 1px solid #e2ecfe;
}
.box-more-promotion-title{
    font-size: 14px;
    width: 100%;
    padding: 10px;
    background-color: #41a7fe;
    font-weight: 600!important;
    color: #fff;
}
.box-more-promotion ul{
    list-style: none;
    padding: 0;
}
.box-more-promotion li::before{
    font-family: "Font Awesome 5 Pro";
    content: "\f058";
    margin-right: 4px;
    position: relative;
    top: 2px;
    color: #01e75a;
    background: #fff;
    font-size: 16px;
}
.item-promotion{
margin: 10px 5px;
font-size: 12px;
}
.item-promotion a{
color: #000;
}
.box-title p{
    font-size: 16px;
    font-weight: 700;
    color: #444;
    margin-bottom: 10px;
}
.box-content{
    font-size: 12px;
}
.item-warranty-info{
    display: flex;
    font-size: inherit;
    margin-bottom: 10px;
}
.item-warranty-info .icon{
    width: 20px!important;
    margin-right: 10px;
    display: inline-flex;
    justify-content: center;
    align-items: baseline;
}
.item-warranty-info .icon img{
    height: 20px!important;
}
.box-warranty-info{
    width: 100%;
    display: inline-block;
    padding: 10px 10px 0;
    border: 1px solid #e5e7eb;
    border-radius: 10px;
    background: #fff;
    margin: 10px 0;
    box-shadow: 0 1px 2px 0 rgb(60 64 67 / 10%), 0 2px 6px 2px rgb(60 64 67 / 15%);
}

.box-warranty-info ul{
    list-style: none;
    padding: 0;
}
.box-warranty-info li{
    width: 100%;
}
.box-warranty-info li::before {
    font-family: "Font Awesome 5 Pro";
    content: "\f00c";
    margin-right: 10px;
    position: relative;
    top: 2px;
    color: #01e75a;
    background: #fff;
    font-size: 16px;
}
.technicalInfo, .dt_description{
    display: block;
    max-width: 100%;
    box-shadow: 0 1px 2px 0 rgb(60 64 67 / 10%), 0 2px 6px 2px rgb(60 64 67 / 15%);
    border-radius: 10px;
    margin-left: 0!important;
    padding-bottom: 0.25rem!important;
    padding-top: 1rem!important;
    padding-right: 1rem!important;
    padding-left: 1rem!important;
    margin-bottom: 1rem!important;
}
.tskt_cnt{
    max-height: 400px;
    overflow-y: hidden;
}
.dt_description img{
    width: 100%;
    height: auto;
}
.ctn_des{
    max-height: 560px;
    overflow-y: hidden;
}
.ctn_des h1,.ctn_des h2{
    font-size: 18px;
}
.dt_description .btn_view_content_all{
    position: relative;
    bottom: 0;
}
.technicalInfo .title{
    font-size: 1rem;
    font-weight: 700;
    margin-bottom: 1rem!important;
}
.technical-content{
    border-radius: 10px;
    border: 1px solid #e5e7eb;
    overflow: hidden;
    list-style: none;
    padding: 0;
    max-height: 230px;
}
.technical-content-item{
    width: 100%;
    justify-content: space-between!important;
    font-size: 14px;
    background-color: #f2f2f2;
    align-items: center!important;
    display: flex!important;
    padding: 0.5rem!important;
}
.item_list_attr p {
    width: 50%;
    margin: 0!important;
    padding: 0!important;
}
.technical-content-item li{
    width: 100%;
    justify-content: space-between!important;
    font-size: 14px;
    background-color: #f2f2f2;
    align-items: center!important;
}
.technical-content-item li p{
    font-size: 14px;
    width: 50%;
    margin: 0;
}
.lineproperty{
    width: 50%;
    display: flex!important;
    align-items: center!important;
    justify-content: space-between!important;
}

.btn_view_detail_p, .btn_view_content_all, .btn_view_ttsp_all{
    width: 100%;
    height: 35px;
    display: flex;
    border-radius: 10px;
    padding: calc(0.5em - 1px) 1em;
    text-align: center;
    background-color: #fff;
    border-color: #dbdbdb;
    border-width: 1px;
    color: #363636;
    cursor: pointer;
    vertical-align: top;
    white-space: nowrap;
    font-size: 14px;
    border: 1px solid transparent;
    justify-content: center!important;
    margin-top: 0.75rem!important;
    line-height: 1.5;
    align-items: center;
    margin-bottom: 0.75rem!important;
    grid-gap: 5px;
    gap: 5px;
    box-shadow: 0 1px 2px 0 rgb(60 64 67 / 10%), 0 2px 6px 2px rgb(60 64 67 / 15%);
    transition: background-color .5s ease;
}
.title_tt{
    font-weight: 500;
    align-items: baseline;
    display: flex!important;
    flex-wrap: wrap!important;
    font-size: 20px;
    color: #444;
}
.evaluation{
    margin-bottom: 15px;
    width: 100%;
    border-radius: 10px;
    box-shadow: 0 1px 2px 0 rgb(60 64 67 / 10%), 0 2px 6px 2px rgb(60 64 67 / 15%);
    padding: 0.5rem!important;
}
.evaluation h2{
    line-height: 1.5;
    margin-bottom: 12px;
    font-size: 1rem;
    display: flex!important;
}
.boxreview_dt{
    height: 160px;
    border: 1px solid #e5e7eb;
    border-radius: 20px;
    overflow: hidden;
    display: flex!important;
}
.boxReview-score{
    border-left: 1px solid #e5e7eb;
    border-right: 1px solid #e5e7eb;
    flex-direction: column;
    width: 35%;
    height: 100%;
    font-size: 20px;
    align-items: center!important;
    justify-content: center!important;
    display: flex!important;
}
.calc_rate{
    line-height: 1.5;
    font-size: 1.5rem;
    color: #363636;
    font-weight: 600;
    margin: 0!important;
    padding: 0!important;
}
.size_p{
    font-size: 10px;
}
.boxReview-star{
    width: 65%;
    padding: 0 5px;
    flex-direction: column;
    justify-content: space-evenly!important;
    display: flex!important;
}
.rating-level{
    width: 100%!important;
    align-items: center!important;
    text-align: center;
    justify-content: space-evenly!important;
    display: flex!important;
}
.star-count{
    width: 30px;
    font-size: xx-small;
    margin-left: 10px;
    align-items: center!important;
    display: flex!important;
}
.star-count span{
    font-size: 14px;
}
.ac_start{
    fill: #f59e0b;
    width: 13px;
    margin-left: 2px;
}
.boxreview_dt .progress_s{
    max-width: 70%;
    height: 8px;
    border-radius: 5px;
    overflow: hidden;
    display: block;
    padding: 0;
    width: 60%;
    -webkit-appearance: none;
    border: none;
    margin: 0!important;
    font-size: .75rem;
    background-color: #e9ecef;
}
.number_ev{
    width: 70px;
    font-size: 10px!important;
    padding-left: 5px;
}
.text-ev{
    font-size: 1rem;
    text-align: center!important;
    word-break: break-word;
    margin-top: 0.5rem!important;
    margin-bottom: 0.5rem!important;
}
/* background: */
progress::-webkit-progress-bar {background-color: #e5e4e4; width: 100%;}
progress {background-color: #e5e4e4;}

/* value: */
progress::-webkit-progress-value {background-color: #3991ff !important;}
progress::-moz-progress-bar {background-color: #3991ff !important;}
progress {color: #3991ff;}
.flex-b-ev{
    text-align: center!important;
    display: flex;
    justify-content: center;
}
.flex-b-ev button{
    width: 300px;
    height: 35px;
    text-align: center;
    border-radius: 10px;
    background-color: #3991ff;
    color: #fff!important;
    border-color: #dbdbdb;
    border-width: 1px;
    cursor: pointer;
    justify-content: center;
    display: flex;
    align-items: center;
    padding: calc(0.5em - 1px) 1em;
    white-space: nowrap;
}
.boxReview-comment{
    width: 100%;
    margin-top: 1.5rem!important;
    margin-bottom: 0.5rem!important;
}
.list_cm{
    display: block;
    /*overflow-y: auto;*/
}
/*.list_cm::-webkit-scrollbar{*/
/*    display: none;*/
/*}*/
.max_list_cm{
    max-height: 200px!important;
    overflow-y: hidden!important;
}
/*.boxReview-comment-item{*/
/*    margin-bottom: 1.5rem!important;*/
/*}*/
.boxReview-comment-item-title{
    display: flex!important;
    align-items: center!important;
    justify-content: space-between!important;
}
.flex_name{
    width: 90%;
    align-items: center!important;
    display: flex!important;
}
.first_k{
    width: 25px;
    height: 25px;
    background-color: #ddd;
    font-weight: 600;
    border-radius: 5px;
    margin: 0 0.5rem 0 0;
    overflow: hidden;
    align-items: center!important;
    justify-content: center!important;
    display: flex!important;
}
.name_c{
    font-weight: 600;
    font-size: 14px;
}
.time_comment{
    width: 120px;
    font-size: 12px;
    font-weight: 600;
    color: #707070;
    margin: 0;
}
.boxReview-comment-item-review{
    width: calc(100% - 20px);
    margin-left: 20px;
    border-radius: 10px;
    background-color: #f3f4f6;
    padding: 0.5rem!important;
    margin-top: 0.5rem!important;
    margin-bottom: 1.5rem!important;
}
.item-review-rating{
    font-size: 12px;
    align-items: center!important;
    display: flex!important;
}
.item-review-comment{
    justify-content: space-between!important;
    flex-direction: column!important;
    color: #444;
    display: flex !important;
    margin-top: 0.25rem!important;
    margin-bottom: 0.25rem!important;
}
.comment-content{
    width: 100%;
    font-size: 12px;
}
.comment-content p{
    max-width: 100%;
    margin: 0;
}
.btn-show-more-review{
    display: block;
    margin: auto;
    width: 100%;
    max-width: 335px;
    height: 34px;
    background: #fff;
    font-size: 14px;
    color: #212529;
    text-decoration: none;
    cursor: pointer;
    border: 0;
    border-radius: 10px;
    box-shadow: 0 1px 2px 0 rgb(60 64 67 / 10%), 0 2px 6px 2px rgb(60 64 67 / 15%);
    transition: .3s;
}
.start_co{
    color: #fcba05;
}
.modal-review, .modal-tskt {
    transform: scale(1);
    z-index: 10001;
    padding: 10px;
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    overflow: hidden;
    top: 0;
    position: fixed;
    left: 0;
}
.modal-background{
    background: transparent;
    animation: fadeIn .5s cubic-bezier(.165,.84,.44,1) forwards;
    bottom: 0;
    left: 0;
    position: absolute;
    right: 0;
    top: 0;
}
.modal-content{
    opacity: 1;
    animation: scaleUp .5s cubic-bezier(.165,.84,.44,1) forwards;
    border-radius: 20px;
    margin: 0 auto;
    overflow: auto;
    position: relative;
}
.modal-review-content{
    background-color: #fff;
    width: 100%;
}
.group-input-img{
    display: flex;
}
.input__file{
    margin-top: 0!important;
    height: 35px;
    color: #919191;
    box-shadow: inset 0 0.0625em 0.125em rgb(10 10 10 / 5%);
    max-width: 100%;
    width: 100%;
    background-color: #fff;
    -webkit-appearance: none;
    align-items: center;
    display: inline-flex;
    font-size: 1rem;
    justify-content: flex-start;
    border-radius: 5px 0px 0px 5px;
    line-height: 1.5;
    padding: 0 calc(0.75em - 1px);
    position: relative;
    vertical-align: top;
    border: 1px solid #dbdbdb;
}
.btn-add-img{
    height: 35px;
    padding: 7px 11px;
    background: #e5e7eb;
    color: #444;
    white-space: nowrap;
    font-size: 13px;
    font-weight: 700;
    border-bottom-right-radius: 10px;
    border-top-right-radius: 10px;
    margin-left: auto!important;
    align-items: center!important;
    display: flex!important;
    margin-top: 0.5rem!important;
    margin-bottom: 0.5rem!important;
}
.input-icon{
    height: 20px;
    width: 20px;
    margin-top: 3px;
    margin-right: 5px;
    color: #444;
    white-space: nowrap;
    font-size: 13px;
    line-height: 1.5;
    font-weight: 700;
}
.textarea-review{
    max-height: 40vh;
    min-height: 8em;
    display: flex;
    max-width: 100%;
    min-width: 100%;
    padding: calc(0.75em - 1px);
    resize: vertical;
    box-shadow: inset 0 0.0625em 0.125em rgb(10 10 10 / 5%);
    width: 100%;
    background-color: #fff;
    border-color: #dbdbdb;
    border-radius: 4px;
    color: #363636;
    -webkit-appearance: none;
    font-family: sans-serif!important;
    font-size: 1rem;
    position: relative;
    vertical-align: top;
    line-height: 1.5;
    height: 2.5em;
    align-items: center;
}
.modal-review-star{
    border: 1px solid #dbdbdb;
    border-radius: 10px;
    padding: 0.5rem!important;
    margin-top: 0!important;
    margin-bottom: 1rem!important;
}
.title-review{
    line-height: 1.5;
    font-size: 1rem;
    word-break: break-word;
    color: #363636;
    font-weight: 600;
    margin: 0.5rem 0 0.5rem 0.5rem;
}
.flex-star{
    justify-content: space-evenly!important;
    display: flex!important;
}
.submit-review{
    width: 100%;
    font-weight: 600;
    height: 35px;
    text-align: center;
    border-radius: 10px;
    background-color: #d7000e;
    color: #fff!important;
    cursor: pointer;
    white-space: nowrap;
    justify-content: center;
    padding: calc(0.5em - 1px) 1em;
    border-color: #dbdbdb;
    border-width: 1px;
    -webkit-appearance: none;
    align-items: center;
    box-shadow: none;
    line-height: 1.5;
    display: inline-flex;
    position: relative;
    vertical-align: top;
    font-size: 1rem;
    border: 1px solid transparent;
}
.modal-review-title{
    font-size: 18px;
    font-weight: 600;
    text-align: center;
    display: flex!important;
    padding-right: 0.5rem!important;
    padding-left: 0.5rem!important;
}
.close-review{
    display: flex;
    justify-content: flex-end;
    font-size: 20px;
    margin: 10px 10px 0px 0px;
}
.modal-content::-webkit-scrollbar{
    display: none;
}
@keyframes fadeIn {
    0%{
        background: transparent;
    }
    100%{
        background: rgba(0, 0, 0, .7);
    }
}
#rating>input {
    display: none;
}
#rating>label {
    font-size: 10px;
    font-weight: 900;
    color: #ddd;
    float: right;
    user-select: none;
    cursor: pointer;
    display: inline-block;
}
#rating>label:before {
    margin: 3px;
    font-size: 1.25em;
    font-family: 'Font Awesome 5 Pro';
    display: inline-block;
    content: "\f005";
}
#rating>input:checked+label:hover, #rating>input:checked~label:hover, #rating>label:hover~input:checked~label, #rating>input:checked~label:hover~label {
    color: #faab50;
}
#rating>input:checked~label, #rating:not(:checked)>label:hover, #rating:not(:checked)>label:hover~label {
    color: #faab50;
}
.comment-form-rating{
    display: flex;
    align-items: center;
    width: 100%;
    justify-content: center;
}
.rp_review{
    color: red;
    margin:0 0 5px 5px;
}
.p_similar_tt{
    color: #444;
    font-size: 20px;
    margin: 0;
}
.p_similar_tt h2{
    margin: 0;
}
.ttsp_cnt{
    max-height: 150px;
    overflow-y: hidden;
    margin-bottom: 10px;
}
.ttsp_cnt::-webkit-scrollbar{
    display: none;
}
.modal-content-tskt{
    opacity: inherit;
    animation: scaleUp .5s cubic-bezier(.165,.84,.44,1) forwards;
    border-radius: 10px;
    margin: 0 auto;
    overflow: auto;
    position: relative;
    display: flex;
    flex-direction: column;
    width: 100%;
    pointer-events: auto;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid rgba(0,0,0,.2);
    outline: 0;
    max-height: calc(100% - 70px);
    max-width: 500px;
}
.header_tskt{
    background-color: #3991ff;
    color: #fff;
    display: flex!important;
    padding-right: 1rem!important;
    padding-left: 1rem!important;
    align-items: center!important;
    justify-content: space-between!important;
    border-bottom: 1px solid #dbdbdb;
    border-top-left-radius: 6px;
    border-top-right-radius: 6px;
    padding: 15px;
    position: relative;
    flex-shrink: 0;
    max-width: 500px;
}
.header_tskt button{
    background: transparent;
    border: none;
    color: #fff;
}
.title_tskt{
    font-size: 18px;
    font-weight: 600;
    margin: 0;
}
.content-detail-tskt{
    border-radius: 10px;
    border: 1px solid #e5e7eb;
    overflow: auto;
    list-style: none;
    padding: 0;
}
.close_tskt{
    border-bottom-left-radius: 6px;
    border-bottom-right-radius: 6px;
    border-top: 1px solid #dbdbdb;
    align-items: center;
    background-color: #f5f5f5;
    display: flex;
    flex-shrink: 0;
    justify-content: flex-start;
    padding: 15px;
    position: relative;
}
.close_tskt button {
    background-color: #3991ff;
    outline: none;
    border: none;
    color: #fff;
    font-weight: 600;
    padding: 3px 10px;
    border-radius: 10px;
    font-size: 16px;
    transition: .3s;
    width: 100%;
    cursor: pointer;
    justify-content: center;
    display: flex;
    grid-gap: 5px;
    text-align: center;
    white-space: nowrap;
    align-items: center!important;
    gap: 5px;
    box-shadow: 0 1px 2px 0 rgb(60 64 67 / 10%), 0 2px 6px 2px rgb(60 64 67 / 15%);
    height: 35px;
}
.modal-tskt-content{
    max-height: 500px;
    display: block;
    overflow-y: auto;
    background-color: #fff;
    width: 100%;
}
.modal-tskt-content::-webkit-scrollbar{
    display: none;
}
.table_boder{
    border-radius: 10px;
    border-color: #e1e1e1!important;
}
